*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.589);
}
.clock-container{
   background-color: rgba(148, 173, 220, 0.863);
   max-width: 500px;
   width: 100%;
   padding: 3% 10%;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(45px);
   color: white;
   font-size: 45px;
   flex-direction: column;
   border-radius: 12px;
}
.date{
    font-size: 15px;
    color: blanchedalmond;
    margin-bottom: 15px;
}